{% extends 'base.html' %}

{% block title %}
Log In
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            <h1 class="h3 mb-3 font-weight-normal">
                Welcome back!
            </h1>

            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Your username...") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Enter password...") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}